* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #23252C;
}

.app {
  color: #FFFFFF;
}

.card-wrapper {
  padding-bottom: 100px;
  max-width: 317px;
  margin: 50px auto;
  background-color: #1A1B21;
  border-radius: 10px 10px 0px 0px;
}

.intro {
  text-align: center;
}

.profile-pic {
  width: 317px;
  height: 317;
  border-radius: 10px 10px 0px 0px;
}