* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #23252c;
  font-family: "Inter", sans-serif;
}

.app {
  color: #ffffff;
}

.card-wrapper {
  position: relative;
  padding-bottom: 100px;
  max-width: 317px;
  margin: 50px auto;
  background-color: #1a1b21;
  border-radius: 10px 10px 10px 10px;
}

.intro {
  text-align: center;
  padding-bottom: 10px;
}

.intro h2 {
  font-size: 25px;
}

.intro h3 {
  color: #f3bf99;
  font-size: 13px;
}

.intro p {
  font-size: 10px;
}

.profile-pic {
  width: 317px;
  height: 317px;
  border-radius: 10px 10px 0px 0px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
}

.btn-wrapper {
  position: relative;
}

.contact-icon {
  position: absolute;
  top: 25%;
  font-size: 16px;
}

.email-icon {
  color: #1e1f26;
  left: 27%;
}

.linkedin-icon {
  color: #ffffff;
  left: 22%;
}

.btn {
  padding: 0 20px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  height: 34px;
  width: 115px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.email {
  color: #1e1f26;
  background-color: white;
  text-align: center;
  padding-right: 2px;
}

.linkedin {
  color: #ffffff;
  background-color: #5093e2;
  text-align: right;
}

.profile-info {
  padding: 20px 36px 0 36px;
}

.content h2 {
  font-size: 16px;
  margin-bottom: -5px;
}

.content p {
  font-size: 10px;
}

.footer {
  display: flex;
  background-color: #161619;
  height: 64px;
  width: 317px;
  position: absolute;
  bottom: 0px;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
  justify-content: center;
}

.icon-div {
  padding: 0 12px;
  color: #918E9B;
  font-size: 25px;
}